itatiba_url="http://www.itatiba.sp.gov.br/templates/midia/Imprensa_Oficial/$(date +%Y/%m)/$(date +%d.%m.%Y).pdf"
jundiai_url="https://imprensaoficial.jundiai.sp.gov.br/"
barueri_url="https://portal.barueri.sp.gov.br/diario"
boituva_url="http://www.diariooficialeletronico.jor.br/boituva/pdfs/"
jandira_url="http://www.jandira.sp.gov.br/web/files/"
aracoiaba_url="http://aracoiaba.sp.gov.br/imprensaoficial/"
fieb_url="http://fieb.edu.br/processo-seletivo/"
campinas_url="http://www.campinas.sp.gov.br/"
